<div class="canva3d">
  <div class="canvaGranja">
  </div>
</div>
<!--(INICIO 1)esta será la VISTA PRINCIPAL, funcin: crear corral-->
<div class="canvaTransparent">
  <h1>GRANJA FREEDOMCENTER</h1>
  <!--en esta sección se alojaran las granjas-->
  <div id="canvaCorral" (scroll)="onScroll($event)">
    <h2 class="tituloCanvaCorral">Corrales creados</h2>
    <div id="corral" *ngFor="let corral of corrales; index as form">
      <form (ngSubmit)="onRegister()" #myform="ngForm" class ="formCorral">

            <h2 class="tituloCorral">CORRAL {{form+1}} </h2>
            <button class="botonesForm"><img src="../assets/image/Icon awesome-edit.png" alt=""></button>
            <button class="botonesForm" (click)="deletCorral(form)" ><img src="../assets/image/Icon material-delete-forever.png" alt=""></button>
      </form>
    </div>
  </div>
  <div class="botones">
    <button class="botonesAction" (click)="addNewCorral()">Crear corral</button>
    <button class="botonesAction"(click)="mostrarFiltrar()">Definir especie</button>
    <button class="botonesAction">Descargar PDF</button>
  </div>
</div>
<!--(FIN 1)esta será la VISTA PRINCIPAL, funcin: crear corral-->

<!--(INICIO 2)esta sera una ventana emergente, función: crear nueva especie-->
<div class="canvaTransparent2" *ngIf="ocultar">
  <div class="formNewEspecie">
    <div class="headerFormNewEspecie">
      <button class="botonCerrarHeaderformNewEspecie" href="" (click)="mostrarFiltrar()" ><img src="../assets/image/Grupo 11.png" alt=""></button>
      <h2 class="titleFormNewEspecie">Crea tu nueva especie</h2>
    </div>
    <div class="bodyFormNewEspecie">
      <div class="imageNewEspecie"></div>
      <div class="boxFormNewSpecie">
        <h3 class="classNewSpecie">Clasifica tu especie</h3><input placeholder="   Selecciona una opción" class="inputNewEspecie" type="text">
        <h3 class="classNewSpecie">Tipo de animal</h3><input placeholder="   Toro, gato, perro..." class="inputNewEspecie" type="text">
      </div>
    </div>
    <div class="boxButtonNewEspecie">
      <button class="buttonNewEspecie" style="background: #bd5050c0;" (click)="mostrarFiltrar()">Cancelar</button>
      <button class="buttonNewEspecie" style="background:#33AFE4; border: 1px solid #33AFE4">Crear especie</button>
    </div>
  </div>
</div>

<!--(FIN 2)esta sera una ventana emergente, función: crear nueva especie-->

<!--(INICIO 3)esta sera una ventana emergente, función: crear nueva especie-->

       <!-- <div class="imputData">
          <H3>Ingresar especie de animal</H3><input type="list" name="especieAnimal" required [(ngModel)]="newAnimal" #textInput="ngModel">
        </div>


        <button type="submit" (click)="addAnimal()" [disabled]="myform.invalid" >Agregar nuevo animal a corral
        </button>
        <p *ngIf="animals.length >= 1">
          <strong *ngIf="animals.length > 6">¡Peligro! La cantidad de animales excede el limite permitido.
          </strong>
          <strong *ngIf="animals.length >= 1">Te queda espacio para albergar</strong>
          {{6-animals.length}}
          <strong *ngIf="animals.length === 5">animal.</strong>
          <strong *ngIf="animals.length < 5">animales.</strong>
      </p>
        <p *ngIf="animals.length === 0">
          No hay animales en este corral.
        </p>
        <ul>
          <li *ngFor="let animal of animals; index as i">
            {{i+1}} Especie: {{animal}} <button (click)="deleteAnimal(i)">Eliminar</button>
          </li>
        </ul>
-->
<div>

</div>
